<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Chi tiết lịch học</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-body">
            <label>Tên sự kiện:</label>
            {{scheduleDto.subjectDto.name + " - " + scheduleDto.subjectDto.subjectCode}}
            <br><br><label>Tên học phần: </label>
            {{scheduleDto.subjectDto.name}}

            <br><br><label>Mã học phần: </label>
            {{scheduleDto.subjectDto.subjectCode}}

            <br><br><label>Địa điểm: </label>
            {{scheduleDto.place}}

            <br><br><label>Ghi chú: </label>
            {{scheduleDto.note}}

            <br><br><label>Thời gian bắt đầu: </label>
            {{scheduleDto.startTime | date : "HH:mm dd/MM/yyyy"}}

            <br><br><label>Thời gian kết thúc: </label>
            {{scheduleDto.finishTime | date : "HH:mm dd/MM/yyyy"}}

            <br><br><label>Giảng viên: </label>
            {{scheduleDto.lecturer}}

            <br><br><label>Email: </label>
            {{scheduleDto.emailLecture}}

            <br><br><label>Số điện thoại: </label>
            Chưa cập nhật
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="activeModal.close()"></button>
        <button type="button" class="btn btn-primary" (click)="activeModal.close()">Đóng</button>
    </div>
</div>