<!-- <div *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true" 
     style="width:100%;white-space:nowrap;float:left">
    <ngb-alert style="float: left" [dismissible]="false" type="error"> 
         {{error}} 
    </ngb-alert>
</div> -->
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập để sử dụng hệ thống</p>

                <form class="mb-3 needs-validation" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <input [(ngModel)]="accountLogin.username" name="username" type="text" class="form-control"
                            placeholder="Mã sinh viên" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <div class="valid-feedback">Valid Username.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="accountLogin.password" type="password" name="password" class="form-control"
                            placeholder="Mật khẩu" required="">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div class="valid-feedback">Valid Password.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <button (click)="validate()" type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="#">Quên mật khẩu</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>